body {
    margin: 4px;
    background: black;
}

.red {
    margin-top: 4px;
    background: rgb(255, 107, 107);
    height: 100px;
    margin-bottom: 4px;
}

.orange {
    margin-top: 4px;
    background: rgb(251, 171, 81);
    height: 111px;
    margin-bottom: 4px;
}

.yellow {
    margin-top: 4px;
    background: rgb(252, 252, 100);
    height: 111px;
    margin-bottom: 4px;
}

.green {
    margin-top: 4px;
    background: rgb(129, 255, 129);
    height: 111px;
    margin-bottom: 4px;
}

.blue {
    margin-top: 4px;
    background: rgb(119, 186, 252);
    height: 111px;
    margin-bottom: 4px;
}

.purple {
    margin-top: 4px;
    background: rgb(229, 137, 229);
    height: 111px;
    margin-bottom: 4px;
}

.pink {
    margin-top: 4px;
    background: pink;
    height: 111px;
    margin-bottom: 4px;
}